* {
    padding: 0;
    margin: 0;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
    background-color: gray;
}

#container {
    width: 600px;
    height: 600px;
    border: 1px solid white;
    display: flex;
    flex-wrap: wrap;
    overflow: hidden; /* Para esconder as divs extras que não cabem */
}

#gridSize{
    width: 400px;
}
.botoes{
    display: flex;
    justify-content: center;
    align-items: center;
}
#rainbow{
    background-color: red;
    width: 200px;
    height: 50px;
    box-shadow: none;
    border: 0;
    border-radius: 25px;
    margin: 20px;
    font-size: 25px;
}

#color{
    width: 200px;
    height: 50px;
    box-shadow: none;
    border: transparent;
    border-radius: 25px;

}   
#color::-webkit-color-swatch {
    border: none;
    border-radius: 25px;
}
#color::-webkit-color-swatch-wrapper {
    padding: 0;
}